.controller {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; 
    margin-top: 30px !important;
    margin-left: 0px !important;
}

.controller.display, #no-controller.display {
    display: block;
}

.pressed {
    opacity: 1;
}

main {
    background-color: blue;
    width: 100vw;
    height: 100vh;
}

#no-controller {
    text-align: center;
    display: none;
}