.controller.xbox-one{
    background: url(../layouts/xbox-one/base.svgz);
    height: 630px;
    width: 750px;
}

.xbox-one .triggers {
    width: 446px;
    height: 121px;
    position: absolute;
    left: 152px;
}

.xbox-one .trigger {
    width: 88px;
    height: 121px;
    background: url(../layouts/xbox-one/trigger.svgz);

}

.xbox-one .trigger.left {
    float: left;
    background-position: 0 0;
}

.xbox-one .trigger.right {
    float: right;
    transform: rotateY(180deg);
}

.xbox-one .bumpers {
    position: absolute;
    width: 536px;
    height: 61px;
    left: 107px;
    top: 129px;
}

.xbox-one .bumper {
    width: 170px;
    height: 61px;
    background: url(../layouts/xbox-one/bumper.svgz);
}

.xbox-one .bumper.left {
    float: left;
}

.xbox-one.bumper.right {
    float: right;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.xbox-one .p0 {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.xbox-one .quadrant {
    position: absolute;
    background: url(../layouts/xbox-one/quadrant.svgz);
    height: 45px;
    width: 45px;
    top: 258px;
    left: 354px;
    z-index: 0;
}

.xbox-one .arrows {
    position: absolute;
    width: 141px;
    height: 33px;
    top: 264px;
    left: 306px;
}

.xbox-one .back {
    float: left;
}

.xbox-one .start {
    background-position: 33px 0px;
    float: right;
}

.xbox-one .back, .xbox-one .start {
    background: url(../layouts/xbox-one/start-select.svgz);
    width: 33px;
    height: 33px;
}

.xbox-one .abxy {
    position: absolute;
    width: 153px;
    height: 156px;
    top: 192px;
    left: 488px;
}

.xbox-one .button {
    position: absolute;
    background: url(../layouts/xbox-one/abxy.svgz);
    width: 48px;
    height: 48px;
}

.xbox-one .button.pressed {
    background-position-y: -48px;
    margin-top: 5px;
    opacity: 1;
}

.xbox-one .a {
    background-position: 0 0;
    top: 108px;
    left: 55px;
}

.xbox-one .b {
    background-position: -49px 0;
    top: 58px;
    right: 0px;
}

.xbox-one .x {
    background-position: -98px 0;
    top: 58px;
    left: 4px;
}

.xbox-one .y {
    background-position: 48px 0;
    left: 55px;
    top: 7px;
}

.xbox-one .sticks {
    position: absolute;
    width: 371px;
    height: 196px;
    top: 239px;
    left: 144px;
}

.xbox-one .stick.left {
    top: 0;
    left: 0;
}

.xbox-one .stick.right {
    top: 113px;
    left: 288px;
}

.xbox-one .stick {
    position: absolute;
    background: url(../layouts/xbox-one/stick.svgz);
    background-position: -85px 0;
    height: 83px;
    width: 83px;
}

.xbox-one .stick.pressed {
    background-position: 0 0;
}

.xbox-one .dpad {
    position: absolute;
    width: 110px;
    height: 111px;
    top: 345px;
    left: 223px;
}

.xbox-one .face {
    background: url(../layouts/xbox-one/dpad.svgz);
    position: absolute;
    opacity: 0;
}

.xbox-one .face.up {
    background-position: 34px 0;
    left: 38px;
    top: 0px;
    width: 34px;
    height: 56px;
}

.xbox-one .face.down {
    left: 38px;
    bottom: 0;
    width: 34px;
    height: 56px;
}

.xbox-one .face.left {
    background-position: 0 -93px;
    width: 55px;
    height: 35px;
    top: 38px;
    left: 0;
}

.xbox-one .face.right {
    background-position: 0 -57px;
    width: 55px;
    height: 35px;
    top: 38px;
    right: 0;
}

.xbox-one .face.pressed {
    opacity: 1;
}